<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OnlyMembers</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <div class="field">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="first name" for="firstname" required>
    </div>
    <div class="field">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="last name" for="lastname">
    </div>
    <div class="field">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="email" required />
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />
    </div>
    <div class="field">
        <label for="confirmpassword">Confirm Password</label>
        <input id="confirmpassword" name="confirmpassword" type="password" required />
    </div>
    <button class="btn">Sign Up</button>
  </form>
</body>
</html>
