body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form{
  display: flex;
  flex-direction: column ;
  max-width: fit-content;
  gap: 1rem;

  .field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .btn{
    align-self: flex-end;
  }
}

